.App {
  margin-top: 20px;
  text-align: center;
}

.btn {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}